/* využití selektoru html pro nastavení písma na stránce */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

.bg-img{
    /*připojení externího obrázku*/
    background-image: url("../img/hippo_room.jpg");
    min-height: 380px;
    /*centrování a správné zobrazení img*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.container{
    background-color: gray;
    max-width: 300px;
    position: absolute;
    left: 0;
    margin: 15px;
    padding: 10px;
}

input[type=text],input[type=password]{
    width: 100%;
    border: none;
    background-color: snow;
    padding: 15px;
    margin: 5px 0 22px 0;
}

input[type=text]:focus,input[type=password]:focus{
    background-color: #ec1f1f;
    outline: none;
}